.profile__overlay {
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    transition: background-color .5s linear;
    cursor: pointer;
}

.profile__overlay:hover {
    background-color: rgba(0, 0, 0, .8);
    background-image: url(../../../images/Button_avatar.svg);
    
}