.popup__button-close_theme_image {
    top: -51px;
    right: -52px;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup__button-close_theme_image {
        top: -35px;
        right: -35px;
    }
}