.login__input {
    color: white;
    background-color: black;
    border: 0;
    border-bottom: 2px solid rgb(255, 255, 255);
    margin-bottom: 30px;
    min-height: 30px;
}

.login__input:last-of-type {
    margin-bottom: 216px;
}