@import url(./__copyright/footer__copyright.css);

.footer {
    max-width: 882px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .footer {
        max-width: 582px;
    }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .footer {
        max-width: 282px;
    }
}