.popup__input {
    width: 100%;
    min-height: 30px;
    border: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 1.0625;
    margin-bottom: 5px;
}

